# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# PyQt build files
*.qrc
*.pyc

# Secrets
.env
*.ini

# other files
*.csv
*.pdf
*.zip
result_log/
log/
image/
binaries/
binaries_backup/
test*.py
main.spec

# Executables
*.exe
*.app
dist/
build/
